.Login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: appears 500ms ease normal;
    background-color: #fafafa;
}

@keyframes appears {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}