.loader-container {
    position: absolute;
    z-index: 2;
    animation: appears 300ms ease normal;
}

@keyframes appears {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.auth-status {
    color: red;
    width: 100%;
    transition: all 2s ease;
}

.auth-status span {
    text-align: center;
    font-size: 12px;
}