.Faq-container {
    width: 68rem;
    margin: 5vh auto 0;
    animation: header-appears 1s ease normal;
}

@keyframes header-appears {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes page-appears {
    from {
        transform: translateY(200vw);
    }
    to {
        transform: translateY(0vw);
    }
}

.faq-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
}

.faq-header h1 {
    width: 100%;
    font-weight: 600;
    color: #333;
}

.faq-header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.faq-header .faq-shotcuts {
    display: flex;
    gap: 1rem;
    font-size: 14px;
    color: #0000ff;
}

.faq-header .faq-shotcuts span:hover {
    cursor: pointer;
    color: #3e97fd;
}

.search-container {
    display: flex;
    gap: .3rem;
}

/* Seção do conteúdo da página  */
.faq-content {
    width: 100%;
    min-height: 70vh;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 1rem auto 0;
    padding: .2rem;
    animation: page-appears 500ms ease normal;
}